{% extends 'workshop_app/base.html' %}

{% block title %}
  Profile Statistics
{% endblock %}

{% block header %}
   <nav class="navbar navbar-default navbar-custom">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand" href="{{ URL_ROOT }}/manage/">Home</a>
		</div>
		<ul class="nav navbar-nav">
		  <li ><a href="{{ URL_ROOT }}/create_workshop/">Create Workshop</a></li>
		   <li ><a href="{{ URL_ROOT }}/view_workshoptype_list/"> Workshop List</a></li>
		   <li ><a href="{{ URL_ROOT }}/my_workshops/">My Workshops</a></li>
		   <li><a href="{{ URL_ROOT }}/workshop_stats/" >Workshop Stats</a></li>
		   <li class="active"><a href="{{ URL_ROOT }}/profile_stats/" >Profile Stats</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
		  <li><a href="{{ URL_ROOT }}/view_profile/"><span class="glyphicon glyphicon-user"></span> Profile </a></li>
		  <li><a href="{{ URL_ROOT }}/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		</ul>
		</div>
  </nav>
{% endblock %}

{% block extra %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>	

	<script type="text/javascript">
		$( function() {
			    $( "fieldset" ).controlgroup();
			  });


		$(document).ready(function() {
		$('input[type=radio]').change(function() {
			        if (this.value == "CP") {
			        	var ielem = document.getElementById('instructor_data');
			        	var celem = document.getElementById('coordinator_data');
			        	ielem.style.display = "none";
			        	celem.style.display = "table";
			            }
			        else{
			        	var ielem = document.getElementById('instructor_data');
			        	var celem = document.getElementById('coordinator_data');
			        	ielem.style.display = "table";
			        	celem.style.display = "none";

			        }
		});
	});
	</script>
{% endblock %}


{% block content %}
	<div class="container">
	 	<div class="row">
			<div class="col-md-6" align="left" >
				  <fieldset data-mini="true">
				    <label for="radio-1">Instructor Statistics </label>
				    <input type="radio" name="radio-1" id="radio-1" value="IP">
				    <label for="radio-2">Coordinator Statistics</label>
				    <input type="radio" name="radio-1" id="radio-2" value="CP">
				  </fieldset>
			</div>
			<br>
			<br>
			<!-- Instructor Data Table -->
				<table class="table" id="instructor_data" style="display: none">
					<thead>
						<tr>
							<th>User</th>
							<th>Institute Name</th>
							<th>Workshop Count</th>
						</tr>
					</thead>
					{% csrf_token %}
					{% for profile_data in instructor_data %}
						<tbody>
							<tr>
								<td>{{ profile_data.profile.user}}</td>
								<td>{{ profile_data.profile.institute}}</td>
								<td>{{ profile_data.count}}</td>
							</tr>
						</tbody>
					{% endfor %}
				</table>

			<!-- Coordinator Data Table -->
				<table class="table" id="coordinator_data" style="display: none">
					<thead>
						<tr>
							<th>User</th>
							<th>Institute Name</th>
							<th>Registration Date</th>
							<th>Workshop Count</th>
						</tr>
					</thead>
					{% csrf_token %}
					{% for profile_data in coordinator_data %}
						<tbody>
							<tr>
								<td>{{ profile_data.profile.user}}</td>
								<td>{{ profile_data.profile.institute}}</td>
								<td>{{ profile_data.profile.user.date_joined | date}}</td>
								<td>{{ profile_data.count}}</td>
							</tr>
						</tbody>
					{% endfor %}
				</table>
		</div>
	</div>

{% endblock %}