<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{{ page.title|title }}</title>
    <link rel="stylesheet" href="{% static 'cms/css/bootstrap.min.css' %}">

    <script src="{% static 'cms/js/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'cms/js/popper.min.js' %}"></script>
    {{ page.imports | safe }}
    <script src="{% static 'cms/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'workshop_app/css/base.css' %}" type="text/css"/>
</head>
<body>

<nav class=" navbar navbar-dark navbar navbar-expand-lg bg-dark fixed-top">
    <a class="navbar-brand" href="/">FOSSEE Workshops</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <div class="my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                {% for nav in navs %}
                    <li class="nav-item">
                        {% if nav.subnavs %}
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                            class="material-icons" style="vertical-align: middle">{{ nav.name }}</span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        {% for subnav in nav.subnavs %}
                                        <a class="dropdown-item" href="{{ subnav.link }}">{{ subnav.name }}</a>
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                        {% else %}
                            <a class="nav-link" href="{{ nav.link }}">{{ nav.name }}</a>
                        {% endif %}
                    </li>
                {% endfor %}

            </ul>
        </div>
    </div>
</nav>
<div class="base-content">
{{ page.content | safe }}
</div>
</body>
</html>