[run]
branch = True
source = .
omit =
     *tests*
     *migrations*
     *init*
     local_settings.py
     workshop_app/apps.py
     workshop_portal/settings.py
     workshop_portal/wsgi.py


[report]
exclude_lines =
    except ImportError:
    raise NotImplementedError
    if __name__ == .__main__.:
