{% extends 'workshop_app/base.html' %}

{% block title %}
	Awating activation
{% endblock %}

{% block header %}
	<nav class="navbar navbar-default navbar-custom">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand" href="#">Home</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
		{% if request.user.profile.is_email_verified %}
		  <li><a href="{{ URL_ROOT }}/view_profile/"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
		{% endif %}
		  <li><a href="{{ URL_ROOT }}/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		</ul>
	  	</div>
    </nav>
{% endblock %}

{% block extra %}
	
	<script type="text/javascript">
		window.setTimeout(function()
		{   
			location.href="{{ URL_ROOT }}/logout/"
		}, 5000);
	</script>

{% endblock %}

{% block content %}
	{% if status == '2' %}
	<div class="container">
			<div class="jumbotron">
				<p> Your email is already verified, Please view your profile <a href="{{ URL_ROOT }}/view_profile/">here</a> </p>
				
			</div>
	</div>
	{% elif status == '1' %}
	<div class="container">
			<div class="jumbotron">
				<p> Your activation has expired please register again</p>
			</div>
	</div>
	{% elif status == '0' %}
	<div class="container">
			<div class="jumbotron">
				<p> Your account has been activated. Please view your profile <a href="{{ URL_ROOT }}/view_profile/">here</a> </p>
				
			</div>
	</div>
	{% else %}
	<div class="container">
		<div class="jumbotron">
			<h1>Activation Awaiting</h1>      
			<p>Please <strong>Logout</strong> and check your email to activate your account. The key expires in <strong>24hours</strong> from the date of registeration</p>
		</div>
	</div>
	{% endif %}
{% endblock %}