<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            HomePage
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    {% block extra-dependencies %}
    {% endblock %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ URL_ROOT }}/static/workshop_app/css/base.css" type="text/css"/>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ URL_ROOT }}/static/workshop_app/img/fevicon_python.png"/>
    {% block extra-custom-scripts %}
    {% endblock %}
</head>

<body style="overflow: scroll;">
{% block header %}
    <nav class=" navbar-custom navbar navbar-expand-lg bg-light">
        <a class="navbar-brand" href="/">FOSSEE Python Workshops</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if request.user.profile.position == 'coordinator' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'workshop_status_instructor' %}">Workshop Status</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'propose_workshop' %}">Propose Workshop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'workshop_type_list' %}">Workshop Types</a>
                    </li>
                {% elif request.user.profile.position == 'instructor' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'workshop_status_instructor' %}">Workshop Status</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'workshop_type_list' %}">Workshop Types</a>
                    </li>
                {% endif %}
            </ul>
            <div class="my-2 my-lg-0">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                    class="material-icons" style="vertical-align: middle">account_circle</span>
                                &nbsp;<p
                                        style="display: inline; vertical-align: middle">{{ user.first_name }} {{ user.last_name }}</p>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/view_profile/">Profile</a>
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/register/">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login/">Login</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <h1>Base Template Content. Please override me</h1>
{% endblock %}


</body>
<footer class="footer">
    <div class="container">
        Developed by FOSSEE group, IIT Bombay
    </div>
</footer>
</html>
