<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{% block title %}
			HomePage
		{% endblock %}
	</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    <link href="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    <link rel="stylesheet" href="{{ URL_ROOT }}/static/workshop_app/css/sticky-footer.css" type="text/css" />
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ URL_ROOT}}/static/workshop_app/img/fevicon_python.png"/>
</head>

	<!-- For js/ajax and other related scripts -->
	{% block extra %}
	{% endblock %}

<body style="overflow: scroll;">

 {% block header %}
 <nav class="navbar navbar-default navbar-custom">
  <div class="container-fluid">
      {% if request.user.profile.position == 'instructor' %}
	<div class="navbar-header">
	    <a class="navbar-brand" >FOSSEE Python Workshops</a>
	</div>
          <ul class="nav navbar-nav">
            <li><a href="{{ URL_ROOT }}/manage/">Manage Workshops</a></li>
            <li><a href="{{ URL_ROOT }}/create_workshop/">Create Workshop</a></li>
            <li><a href="{{ URL_ROOT }}/my_workshops/">Workshop Status</a></li>
          </ul>
        {% elif request.user.profile.position == 'coordinator' %}
	        <div class="navbar-header">
	            <a class="navbar-brand" >FOSSEE Python Workshops</a>
	        </div>
          <ul class="nav navbar-nav">
            <li ><a href="{{ URL_ROOT }}/my_workshops/">Workshop Status</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Workshops
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ URL_ROOT }}/book/">Book a Workshop</a></li>
                    <li><a href="{{ URL_ROOT }}/propose_workshop/">Propose a Workshop</a></li>
                </ul>
            </li>
            <li><a href="{{ URL_ROOT }}/view_workshoptype_list/"> Workshop List</a></li>
          </ul>
          {% else %}
	        <div class="navbar-header">
	            <a class="navbar-brand" href="{{ URL_ROOT }}/">FOSSEE Python Workshops</a>
	        </div>

        {% endif %}

        <ul class="nav navbar-nav navbar-right">
            {% if request.user.profile.position == 'instructor' %}
            <li><a href="{{ URL_ROOT }}/view_workshoptype_list/">Workshop List</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Statistics
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ URL_ROOT }}/statistics/">Workshop Statistics</a></li>
                    <li><a href="{{ URL_ROOT }}/statistics/profile_stats/">Profile Statistics</a></li>
                </ul>
            </li>
            <li><a href="{{ URL_ROOT }}/view_profile/"><span class="glyphicon glyphicon-user"></span> {{ user.first_name }} </a></li>
            <li><a href="{{ URL_ROOT }}/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {%  elif request.user.profile.position == 'coordinator' %}
	          <li><a href="{{ URL_ROOT }}/how_to_participate/">How to Participate</a></li>
            <li><a href="{{ URL_ROOT }}/faq/">FAQ's</a></li>
            <li><a href="{{ URL_ROOT }}/view_profile/"><span class="glyphicon glyphicon-user"></span> {{ user.first_name }} </a></li>
            <li><a href="{{ URL_ROOT }}/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {% else %}
                <li><a href="{{URL_ROOT}}/register">Register</a></li>
                <li><a href="{{URL_ROOT}}/login">Login</a></li>
                <li><a href="{{URL_ROOT}}/how_to_participate">How to Participate</a></li>
                <li ><a href="https://python.fossee.in/about" target="_blank">About Us</a></li>
                <li><a href="{{URL_ROOT}}/statistics/public_stats/">Stats</a></li>
        </ul>
            {% endif %}
  	</div>
  </nav>
  {% endblock %}

	{% block content %}
		<h1>Base Template Content. Please override me</h1>
	{% endblock %}

	
</body>
	<footer class="footer">
		<div class="container">
			 <p align="center">Developed by FOSSEE group, IIT Bombay</p>
		 </div>
	</footer>
</html>
