{% extends 'workshop_app/base.html' %}

{% block title %}
	Booking
{% endblock %}


{% block extra %}
	 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>	

	<script>
	// Button function
		function sendData(d){
			var check_count;		
			//For queue
			var URL = "{{ URL_ROOT }}/book_workshop/";
				c = d + ',0';
				$.ajax({
					url: URL,
					datatype: 'json',
					async: false,
					type: "POST",
					data: {
						c, 
						csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
					},
					success:function(response){
						check_count = response;
					}
				});

			var $dialog = $('<div></div').html(
				'<form id="myform" action="">\
				<input type="checkbox" id="one"\
				name="one" value="one"/> We assure to give minimum 50 participants for the workshop.<br/>\
				<input type="checkbox" id="two" name="two" value="two" /> We agree that this booking won\'t be cancelled without prior notice of 2days to the instructor and fossee.<br/>\
				<input type="checkbox" id="three" name="three" value="three"/> Your request will be number '+ check_count +' in the queue.\
				</form> ')
				.dialog({
					autoOpen: false,
					title: 'Terms & Condition',
					buttons: {
						"Confirm": function(){
						if($('#one').is(":checked") && $('#two').is(":checked") && $('#three').is(":checked")){
								booking_confirmed(d);
								$(this).dialog("close");	
						} else {
								alert("Please select all the checkboxes.");
								}
						},
						"Cancel":  function(){
							$(this).dialog("close");
						}
					}
				});
			$dialog.dialog('open');	
		}

		function booking_confirmed(d){
			var URL = "{{ URL_ROOT }}/book_workshop/";

				$.ajax({
					url: URL,
					type: "POST",
					data: {
						d, 
						csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
					},
				
					success:function(response){
						window.location.reload();
						alert("success: " + response);
					}
				});
			}
	</script>
{% endblock %}

{% block header %}

	<nav class="navbar navbar-default navbar-custom">
	  <div class="container-fluid">
		<div class="navbar-header" class="active">
		  <a class="navbar-brand" href="{{ URL_ROOT}}/book/">Home</a>
		</div>
		<ul class="nav navbar-nav">
		  <li><a href="{{ URL_ROOT}}/my_workshops/">My Workshops</a></li>
		  <li><a href="{{ URL_ROOT }}/propose_workshop/">Propose a Workshop</a></li>
		  <li><a href="{{ URL_ROOT }}/faq/">FAQ's</a></li>
		  <li><a href="{{ URL_ROOT }}/benefits/">Benefits</a></li>
		  <li><a href="{{ URL_ROOT }}/view_workshoptype_details/"> Workshop List</a></li>
		  <li><a href="{{ URL_ROOT }}/how_to_participate/">How to Participate</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
		  <li><a href="{{ URL_ROOT }}/view_profile/"><span class="glyphicon glyphicon-user"></span> Profile </a></li>
		  <li><a href="{{ URL_ROOT }}/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		</ul>
	  	</div>
    </nav>
{% endblock %}

{% block content %}
	<h3 align="center">List of Available Workshops </h3>
	<br>
	<div class="container">
		<table class="table table-hover ">
			<thead>
				<tr>
					<th>Instructor Name</th>
					<th>Workshop Name</th>
					<th>Workshop Day</th>
					<th>Booking</th>
				</tr>
			</thead>
			{% csrf_token %}
			
			{% for workshop in workshop_details %}
					<tbody>

						<tr >
							<td id="instructor-name">{{ workshop.1 }}</td>
							<td 
							id="workshop-name">{{ workshop.2 }} <a href="{{URL_ROOT}}/file_view/{{workshop.4}}" >
          					<span class="glyphicon glyphicon-info-sign"></span>
        					</a> </td>
							<td id="workshop-date{{ forloop.counter }}">{{ workshop.0 }}</td>
							<td><button class="btn btn-primary btn-sm" id="book-btn" onClick="sendData('{{workshop.0}},{{workshop.3}},{{workshop.4}}')" > Book</button></td>
						</tr>
					</tbody>
			{% endfor %}
		</table>
	</div>

	
	<!-- Page Navigation -->
	<div class="container">
		<div class="Page-Nav" align="center">
		<nav aria-label="Page navigation">
		 	<ul class="pagination pagination-sm">
			  	<li class="page-item">
			      {% if workshop_details.has_previous %}
					<a class="page-link" tabindex="-1" 
							href="?page={{ workshop_details.previous_page_number }}">Previous</a>
				  {% endif %}
			    </li>
			    <li class="page-item">
			    <span class="current">
				Page {{ workshop_details.number }} of {{ workshop_details.paginator.num_pages }}
					</span>
				</li>
			    <li class="page-item">
			    {% if workshop_details.has_next %}
					<a class="page-link" href="?page={{ workshop_details.next_page_number }}">Next
					</a>	
				{% endif %}
			    </li>
		  	</ul>
		</nav>
		</div>
	</div>

{% endblock %}