{% extends "workshop_app/base.html" %}

{% block title %}
	Create Workshop
{% endblock %}

  {% block extra %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{URL_ROOT}}/static/workshop_app/js/bootstrap-3.3.7.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  {% endblock %}

{% block header %}
  <nav class="navbar navbar-default navbar-custom">
    <div class="container-fluid">
      <div class="navbar-header">
        <li class="navbar-brand">FOSSEE Python Workshops</li>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ URL_ROOT }}/create_workshop/">Create Workshop</a></li>
        <li><a href="{{ URL_ROOT }}/my_workshops/">Workshop Status</a></li>
        <li><a href="{{ URL_ROOT }}/manage/">Workshops</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li ><a href="{{ URL_ROOT }}/view_workshoptype_list/"> Workshop List</a></li>
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Statistics
                  <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="{{ URL_ROOT }}/statistics/">Workshop Statistics</a></li>
                  <li><a href="{{ URL_ROOT }}/statistics/profile_stats/">Profile Statistics</a></li>
              </ul>
          </li>
        <li><a href="{{ URL_ROOT }}/view_profile/"><span class="glyphicon glyphicon-user"></span> {{ request.user.first_name }} </a></li>
        <li><a href="{{ URL_ROOT }}/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="container">
    <form method="post">
      {% csrf_token %}
      <br/>
      {{ form.media }}
      {{ form.as_p }}
      <br><br>
      <div class="alert alert-info">
        <strong>Please Note:!</strong> While Making Recurring Workshops please also fill <strong>Repeat Until </strong> and while creating single event please set it <strong>4days after the current date.</strong>
      </div>
      <br>
      <button class="btn btn-success" type="submit">Save</button>
    </form>
  </div>
{% endblock %}
