{% extends "workshop_app/base.html" %}

{% block title %}
	Create Workshop
{% endblock %}

  {% block extra %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{URL_ROOT}}/static/workshop_app/js/bootstrap-3.3.7.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  {% endblock %}


{% block content %}
  <div class="container">
    <form method="post">
      {% csrf_token %}
      <br/>
      {{ form.media }}
      {{ form.as_p }}
      <br><br>
      <div class="alert alert-info">
        <strong>Please Note:!</strong> While Making Recurring Workshops please also fill <strong>Repeat Until </strong> and while creating single event please set it <strong>4days after the current date.</strong>
      </div>
      <br>
      <button class="btn btn-success" type="submit">Save</button>
    </form>
  </div>
{% endblock %}
