{% extends "workshop_app/base.html" %}

{% block title %}
	Edit Profile
{% endblock %}

{% block header %}
  <nav class="navbar navbar-default navbar-custom">
    <div class="container-fluid">
     {% if request.user.profile.position == 'instructor' %}
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ URL_ROOT }}/manage/">Home</a>
      </div>
          <ul class="nav navbar-nav">
            <li><a href="{{ URL_ROOT }}/create_workshop/">Create Workshop</a></li>
            <li><a href="{{ URL_ROOT }}/view_workshoptype_list/">Workshop List</a></li>
            <li><a href="{{ URL_ROOT }}/my_workshops/">My Workshops</a></li>
            <li><a href="{{ URL_ROOT }}/scheduled_workshops/">Scheduled Workshops</a></li>
          </ul>
        {% else %}
         <div class="navbar-header">
          <a class="navbar-brand" href="{{ URL_ROOT }}/book/">Home</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="{{ URL_ROOT }}/my_workshops/">My Workshops</a></li>
            <li><a href="{{ URL_ROOT }}/propose_workshop/">Propose a Workshop</a></li>
            <li><a href="{{ URL_ROOT }}/faq/"> FAQ's</a></li>
            <li><a href="{{ URL_ROOT }}/benefits/">Benefits</a></li>
            <li><a href="{{ URL_ROOT }}/view_workshoptype_details/"> Workshop List</a></li>
            <li><a href="{{ URL_ROOT }}/how_to_participate/">How to Participate</a></li>
          </ul>
        {% endif %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ URL_ROOT }}/view_profile/"><span class="glyphicon glyphicon-user"></span> Profile </a></li>
        <li><a href="{{ URL_ROOT }}/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="container">
    <form action="{{URL_ROOT}}/edit_profile/" method="post" >
    {% csrf_token %}
      <center>
        <table class="table table-bordered">
          {{ form.as_table }}
        </table>
      </center>
      <br>
        <button class="btn btn-primary pull-right" type="submit">Save Profile</button>
    </form>
  </div>
{% endblock %}