{% extends "workshop_app/base.html" %}

{% block title %}
	Edit Profile
{% endblock %}

{% block header %}
  <nav class="navbar navbar-default navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">FOSSEE Python Workshops</a>
        </div>
     {% if request.user.profile.position == 'instructor' %}
		    <ul class="nav navbar-nav">
		        <li ><a href="{{ URL_ROOT }}/create_workshop/">Create Workshop</a></li>
		        <li ><a href="{{ URL_ROOT }}/my_workshops/">Workshop Status</a></li>
		        <li><a href="{{ URL_ROOT }}/manage/"> Workshops</a></li>
		    </ul>
        {% else %}
          <ul class="nav navbar-nav">
            <li><a href="{{ URL_ROOT }}/my_workshops/"> Workshop Status</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Workshops
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ URL_ROOT }}/book/">Book a Workshop</a></li>
                    <li><a href="{{ URL_ROOT }}/propose_workshop/">Propose a Workshop</a></li>
                </ul>
            </li>
            <li><a href="{{ URL_ROOT }}/view_workshoptype_list/"> Workshop List</a></li>
          </ul>
        {% endif %}
      <ul class="nav navbar-nav navbar-right">
          {% if request.user.profile.position == 'instructor' %}
		      <li ><a href="{{ URL_ROOT }}/view_workshoptype_list/"> Workshop List</a></li>
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Statistics
                  <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="{{ URL_ROOT }}/statistics/">Workshop Statistics</a></li>
                  <li><a href="{{ URL_ROOT }}/statistics/profile_stats/">Profile Statistics</a></li>
              </ul>
          </li>
          {% else %}
          <li><a href="{{ URL_ROOT }}/how_to_participate/">How to Participate</a></li>
          <li><a href="{{ URL_ROOT }}/faq/"> FAQ's</a></li>
          {% endif %}
		      <li class="active"><a href="{{ URL_ROOT }}/view_profile/"><span class="glyphicon glyphicon-user"></span> {{request.user.first_name }} </a></li>
        <li><a href="{{ URL_ROOT }}/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="container">
    <form action="{{URL_ROOT}}/edit_profile/" method="post" >
    {% csrf_token %}
      <center>
        <table class="table table-bordered">
          {{ form.as_table }}
        </table>
      </center>
      <br>
        <button class="btn btn-primary pull-right" type="submit">Save Profile</button>
    </form>
  </div>
{% endblock %}
