{% extends 'workshop_app/base.html' %}

{% block title %}
	How to Participate
{% endblock %}

{% block extra %}

	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='//fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
  <style>
   h1 {
       font-family: 'Open Sans';
       color: #2952a2;
   }
   h4 {
       font-family: 'Open Sans', 'Light';
       color: #04a9cf;
       padding-left: 5%;
   }
   img {
       display: block;
       margin: 0 auto;
   }

   #info {

    padding-left :6%;
    padding-right :6%;

   }


  </style>
{% endblock %}


{% block content %}

	<div class="container-fluid" id="info">
      <div class="row">
          <div class="col-12">
              <ul>
                  <h1>Steps for conducting workshop</h1>
                  <br>
                  <h4><li>Register on this website as a Coordinator</li></h4>
                  <h4><li>Login using your credentials and propose a workshop or select a workshop from the list of available workshops</li></h4>
                  <h4><li>Wait for instructor approval till you receive a confirmation mail</li></h4>
                  <h4><li>Once the workshop request/proposal is approved, instructor will send you other workshop details</li></h4>
                  <h4> <li>Conduct the workshop</li></h4>
              </ul>
          </div>
      </div>
      <div class="row">
          <div class="col-12">
		          <img style="width:auto ; height:auto; " class="img-responsive" src="{{ URL_ROOT }}/static/workshop_app/img/structure.png">
          </div>
      </div>
		<br><br>
	</div>

{% endblock %}
