<!DOCTYPE html>
<html>
  <head>
  <title>Welcome</title>
  </head>

  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

  <link rel="stylesheet" href="{{ URL_ROOT }}/static/workshop_app/css/index.css" type="text/css" />

  <body> 
  <div class="container" style="width: 90%; height:90%;background:#C8C5B6;">
     <div class="row">
      
      <div class="col-md-4">
        <div class="fossee-label">FOSSEE Workshop</div>
          <div class="logo">
            <img src="{{ URL_ROOT }}/static/workshop_app/img/python_logo.png" >  
          </div>
        </div>

      <div class="login col-md-8">
        <div class="label-bar"><a href="http://python.fossee.in/about/"
        target="_blank" style="color: #6D5847;">About </a>|<a href="" style="color: #6D5847;">Blog </a>| <a href="http://python.fossee.in/gallery/" target="_blank" style="color: #6D5847;">Gallery</a></div>
        <img src=" {{ URL_ROOT }}/static/workshop_app/img/img_1.png" style="margin-left: 40%;padding-top: 25%;"><br>
        <div id="rectbox">
            
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
              <button class="btn btn-default btn-sm" style="margin-left: 35%;"  type="submit">Login</button>
            <br>
         </form>
        </div>

        <h4 style="margin-left: 27%; color: grey;">If not Registered yet, <br> please <a href="{{ URL_ROOT}}/register/" target="_blank">register here.</a></h4>
        <br><br>
        <button style="margin-left: 30%; width:20%;height:35%;margin-bottom:3%;border-radius:25%;background:#6D5847;color: white" class="demo-button"><h4>Demo</h4></button>
      </div>

    </div>   

    <div class="row">
      <div class="icons col-sm-12">

        <figure class="item" style="margin-left: 10%;">
        <a href="{{ URL_ROOT }}/view_workshoptype_details/" style="color: #6D5847;">
          <img class="caption-img" src="{{ URL_ROOT }}/static/workshop_app/img/list.png" >
          <figcaption class="caption">Course List</figcaption>
        </a>
        </figure>

        <figure class="item" style="margin-left: 15%;">
        <a href="{{ URL_ROOT }}/benefits/" style="color: #6D5847;">
          <img  class="caption-img" src="{{ URL_ROOT }}/static/workshop_app/img/bnft.png" >
          <figcaption class="caption" >Benefits</figcaption>
        </a>
      </figure>

      <figure class="item" style="margin-left: 15%;">
      <a href="{{ URL_ROOT }}/faq/" style="color: #6D5847;">
          <img  class="caption-img" src="{{ URL_ROOT }}/static/workshop_app/img/faq.png" >
          <figcaption class="caption" >FAQs</figcaption>
      </a>
      </figure>

      <figure class="item" style="margin-left: 15%; ">
      <a href="{{ URL_ROOT }}/how_to_participate/" style="color: #6D5847;">
          <img  class="caption-img" src="{{ URL_ROOT }}/static/workshop_app/img/part.png" >
          <figcaption class="caption">How to Participate</figcaption>
        </a>
      </figure>

      </div>
    </div>

    
    <!-- Bottom 3 cols -->
    <div class="row">
    <!-- Logo -->
      <div class="org-logo col-sm-4">
      <span >Organized By:</span><br>
        <img src="{{ URL_ROOT }}/static/workshop_app/img/fossee_logo.png">

        <img src="{{ URL_ROOT }}/static/workshop_app/img/iitb_logo.png" >
        <br>
      </div>

      <!-- Related Links -->
      <div class="related-links col-sm-4">
        Related Links<br>
        <a href="http://fossee.in" target="_blank" >fossee.in</a><br>
        <a href="http://yaksh.fossee.in" target="_blank" >yaksh.fossee.in</a><br>
        <a href="http://python.fossee.in" target="_blank" >python.fossee.in</a>
      </div>

      <!-- Contact Us -->
      <div class="contact-us col-sm-4">
        Contact Us:<br>
        FOSSEE, IIT-Bombay<br>
        Mumbai, India<br>
        
        Phone: (+91) 22 2576
        4133<br>
        Email: info[at]fossee[dot]in 
      </div>
    </div>
    

    <div class="footer">
    <img src="{{ URL_ROOT }}/static/workshop_app/img/cc.png" style="width:5%;height:3%;">
      This work is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License
    </div>
  </div>
  </body>
</html>
