{% extends 'workshop_app/base.html' %}

	{% block title %}
		Login
	{% endblock %}

{% block header %}
 <nav class="navbar navbar-default navbar-custom">
  <div class="container-fluid">
	<div class="navbar-header">
	  <a class="navbar-brand" href="{{ URL_ROOT }}/workshop_booking/">Booking</a>
	</div>

	<ul class="nav navbar-nav navbar-right">
	  <li><a href="{{ URL_ROOT }}/workshop_booking/register/"><span class="glyphicon glyphicon-user"></span> Register</a></li>
	  <li><a href="{{ URL_ROOT }}/workshop_booking/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	</ul>
  	</div>
  </nav>
  {% endblock %}

	{% block content %}
	<div class="container" align="center">
		<br>
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<br>
			<br>
				<button class="btn btn-default" type="submit">Login</button>
			<br>
		</form>
		<br>
	</div>
	{% endblock %}
