{% extends 'workshop_app/base.html' %}

	{% block title %}
		Login
	{% endblock %}

{% block header %}
 <nav class="navbar navbar-default navbar-custom">
  <div class="container-fluid">
	<div class="navbar-header">
	  <a class="navbar-brand" href="{{ URL_ROOT }}/">FOSSEE Python Workshops</a>
	</div>

	<ul class="nav navbar-nav navbar-right">
      <li><a href="{{URL_ROOT}}/register">Register</a></li>
      <li class="active"><a href="{{URL_ROOT}}/login">Login</a></li>
      <li><a href="{{URL_ROOT}}/how_to_participate">How to Participate</a></li>
      <li ><a href="https://python.fossee.in/about" target="_blank">About Us</a></li>
      <li><a href="{{URL_ROOT}}/statistics/public_stats/">Stats</a></li>
	</ul>
  	</div>
  </nav>
  {% endblock %}

	{% block content %}
	<div class="container" align="center">
		<br>
		<form method="post">
			  {% csrf_token %}
			  {{ form.as_p }}
			  <br>
			  <br>
				<button class="btn btn-info btn-sm" type="submit">Login</button>
        <a href="{{URL_ROOT}}/forgotpassword/" class="btn btn-default btn-sm" style="color:#3693C0;">Forgot Password</a>
			  <br>
		</form>
		<br>
	</div>
	{% endblock %}
