{% extends 'workshop_app/base.html' %}

	{% block title %}
		Logged out
	{% endblock %}

{% block header %}
 <nav class="navbar navbar-default navbar-custom">
  <div class="container-fluid">
	<div class="navbar-header">
	  <a class="navbar-brand" href="{{ URL_ROOT }}/">FOSSEE Python Workshops</a>
	</div>

	<ul class="nav navbar-nav navbar-right">
      <li><a href="{{URL_ROOT}}/register">Register</a></li>
      <li><a href="{{URL_ROOT}}/login">Login</a></li>
      <li><a href="{{URL_ROOT}}/how_to_participate">How to Participate</a></li>
      <li ><a href="https://python.fossee.in/about" target="_blank">About Us</a></li>
      <li><a href="{{URL_ROOT}}/statistics/public_stats/">Stats</a></li>
	</ul>
  	</div>
  </nav>
  {% endblock %}


	{% block content %}
		<div class="container" align="center">
			<br>
			<h3>You have logged out successfully.</h3>
			<h4>If you want to Login again please <a href="{{ URL_ROOT}}/login/">click here</a></h4>
			<br>
		</div>

	{% endblock %}
