{% extends 'workshop_app/base.html' %}

{% block header %}
   <nav class="navbar navbar-default navbar-custom">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand" href="{{ URL_ROOT }}/manage/">Home</a>
		</div>
		<ul class="nav navbar-nav">
		  <li ><a href="{{ URL_ROOT }}/create_workshop/">Create Workshop</a></li>
		   <li ><a href="{{ URL_ROOT }}/view_workshoptype_list/"> Workshop List</a></li>
		   <li ><a href="{{ URL_ROOT }}/my_workshops/">My Workshops</a></li>
		   <li><a href="{{ URL_ROOT }}/workshop_stats/">Workshop Stats</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
		  <li><a href="{{ URL_ROOT }}/view_profile/"><span class="glyphicon glyphicon-user"></span> Profile </a></li>
		  <li><a href="{{ URL_ROOT }}/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		</ul>
		</div>
  </nav>
{% endblock %}

{% block extra %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	 <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	 <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	 <script>
	 //ToolTip PopUp function onhover
	 $(document).ready(function(){
    	$('[data-toggle="popover"]').popover({
        placement : 'top',
        trigger : 'hover'
    		});
		});

		function sendData(d){
			var URL = "{{ URL_ROOT }}/my_workshops/"
			console.log(d);
			$.ajax({
				url: URL,
				type: "POST",
				dataType: 'json',
				data: {
					d, 
					csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
				},
			});
			
			window.location.reload();
			alert("Refreshing Page please wait, if you don't see your changes, please refresh this page again.");
		}
	</script>

	
{% endblock %}


{% block content %}

	{% if workshop_occurence_list %}
	<h4 align="center">This is the list of workshops you have created, you can delete a workshop if you are not availble on that day. </h4>
	<br>
	<div class="container">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Instructor Name</th>
					<th>Workshop Name</th>
					<th>Workshop Day</th>
				</tr>
			</thead>
			{% csrf_token %}
			{% for w in workshop_occurence_list %}
						<tbody>
							<tr>
								<td>{{ w.user }}</td>
								<td>{{ w.workshop }}</td>
								<td>{{ w.date | date}}</td>
								<td><button  class="btn btn-danger btn-sm" id="delete-btn" onClick="sendData('{{ w.user}},{{w.date | safe}},{{ w.workshop.id }},DELETED')" data-toggle="popover" title="Please Note" data-content="Once Deleted you cannot revoke this action." > Delete Workshop </button></td>
							</tr>
						</tbody>
			{% endfor %}
		</table>
	</div>

<!-- Page Navigation -->
		<div class="container">
		<div class="Page-Nav" align="center">
		<nav aria-label="Page navigation">
		 	<ul class="pagination pagination-sm">
			  	<li class="page-item">
			      {% if workshop_occurence_list.has_previous %}
					<a class="page-link" tabindex="-1" 
							href="?page={{ workshop_occurence_list.previous_page_number }}">Previous</a>
				  {% endif %}
			    </li>
			    <li class="page-item">
			    <span class="current">
				Page {{ workshop_occurence_list.number }} of {{ workshop_occurence_list.paginator.num_pages }}
					</span>
				</li>
			    <li class="page-item">
			    {% if workshop_occurence_list.has_next %}
					<a class="page-link" href="?page={{ workshop_occurence_list.next_page_number }}">Next
					</a>	
				{% endif %}
			    </li>
		  	</ul>
		</nav>
		</div>
	</div>

	{% else %}
		<div class="container">
			<div class="jumbotron">
    			<h1>Welcome Instructor</h1>      
    			<p>Please navigate to <b>View Workshop list</b> and depending upon
    			your expertise and availability create a workshop by going to
    			<b>Create Workshop</b>. you can also check any workshop
    			requests by going to <b>My Workshops</b></p>

  			</div>
		</div>
	{% endif %}

{% endblock %}
