{% extends "workshop_app/base.html" %}

{% block title %}
    Workshop Status
{% endblock %}

{% block extra-dependencies %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}
{% block extra-custom-scripts %}
    <script>
        //ToolTip popup function on-hover
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({
                placement: 'top',
                trigger: 'hover'
            });
        });

        //ToolTip popup function on-hover
        $(document).ready(function () {
            $('[data-toggle="popinfo"]').popover({
                placement: 'top',
                trigger: 'hover'
            });
        });

        // Change date modal
        function changeDate(date) {
            var previous_date = new Date(date);
            var dateToday = new Date();
            var upto = new Date();

            previous_date.setDate(previous_date.getDate() + 1);
            upto.setFullYear(dateToday.getFullYear() + 1);

            if (date[0] == 'P') {
                var counter = date.split(" ");
                var id = counter.slice(-1).pop();
                counter = '.pDate' + id
                $(counter).datepicker({
                    changeMonth: true,
                    changeYear: true,
                    minDate: dateToday,
                    maxDate: upto,
                    dateFormat: "yy-mm-dd",
                });
                $(".ui-dialog-content").dialog("close");
                $('.myDialogP' + id).dialog();

            } else {
                var counter = date.split(" ");
                var id = counter.slice(-1).pop();
                counter = '.rDate' + id;
                $(counter).datepicker({
                    changeMonth: true,
                    changeYear: true,
                    minDate: dateToday,
                    maxDate: upto,
                    dateFormat: "yy-mm-dd",
                });
                $(".ui-dialog-content").dialog("close");
                $('.myDialogR' + id).dialog();

            }
        };

    </script>
{% endblock %}


{% block content %}
    {% if workshops %}
        <h3 align="center" style="color:#2952a2;">The status of your workshops </h3>
        <br>

        <!-- Accepted View -->
        <br>
        <div class="container">
            <h3 align="center" style="color: #04a9cf;"><strong>Workshops Accepted</strong></h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    {% if request.user.profile.position == 'instructor' %}
                        <th>Coordinator Name</th>
                        <th>Institute</th>
                    {% else %}
                        <th>Instructor Name</th>
                    {% endif %}
                    <th>Workshop Name</th>
                    <th>Workshop Day</th>
                    <th>Status</th>
                </tr>
                </thead>
                {% csrf_token %}
                {% for workshop in workshops %}
                    <tbody>
                    <tr>
                        {% if workshop.status == 1 and workshop.workshop_type %}
                            {% if request.user.profile.position == 'instructor' %}
                                <td>
                                    <a href="{{ URL_ROOT }}/view_comment_profile/{{ workshop.coordinator.profile.user.id }}">
                                        {{ workshop.coordinator.get_full_name }}</a></td>
                                <td>{{ workshop.coordinator.profile.institute }}</td>
                            {% else %}
                                <td>{{ workshop.instructor.get_full_name }}</td>
                            {% endif %}
                            <td>{{ workshop.title |capfirst }}</td>
                            {% if workshop.date > today %}
                                <td>{{ workshop.date | date }}
                                    <span class="material-icons" style="cursor:pointer;" data-toggle="popinfo"
                                          title="Note"
                                          data-content="Click here to change date"
                                          class="datepicker"
                                          onclick="changeDate('R,{{ workshop.date| safe }}, {{ forloop.counter }}')">event</span>
                                    <div class="myDialogR{{ forloop.counter }}" style="display: none;"
                                         title="Select New Date">
                                        <form method="post">
                                            <input type="text" name="new_date" class="rDate{{ forloop.counter }}"/><br>
                                            <input type="hidden" name="action" value="change_date">
                                            <input type="hidden" name="workshop_id" value="{{ workshop.id }}">
                                            <input type="hidden" name="cid" value="{{ workshop.coordinator.id }}">
                                            {% csrf_token %}
                                            <button class="btn btn-primary btn-xs" type="submit">Save</button>
                                        </form>
                                    </div>
                                </td>
                            {% else %}
                                <td>{{ workshop.date | date }}</td>
                            {% endif %}
                            <td><span class="badge badge-success">{{ workshop.get_status }}</span></td>
                        {% endif %}
                        {% if workshop.status == 1 and workshop.condition_one %}
                            {% if request.user.profile.position == 'instructor' %}
                                <td>
                                    <a href="{{ URL_ROOT }}/view_comment_profile/{{ workshop.coordinator.profile.user.id }}">
                                        {{ workshop.coordinator.get_full_name }}</a></td>
                                <td>{{ workshop.coordinator.profile.institute }}</td>
                            {% else %}
                                <td>{{ workshop.instructor.get_full_name }}</td>
                            {% endif %}
                            <td>{{ workshop.title }}</td>
                            {% if workshop.date > today %}
                                <td>{{ workshop.date | date }}
                                    <span class="glyphicon glyphicon-calendar"
                                          class="datepicker" data-toggle="popinfo" title="Note"
                                          data-content="Click here to change date"
                                          onclick="changeDate('P,{{ workshop.date | safe }}, {{ forloop.counter }}')">
										</span>
                                    <div class="myDialogP{{ forloop.counter }}" style="display: none;"
                                         title="Select New Date">

                                        <input type="text" class="pDate{{ forloop.counter }}"/><br>
                                        <button class="btn btn-primary btn-xs" type="submit"
                                                onclick="submitNewDate('{{ forloop.counter }},P,{{ workshop.instructor_id }},{{ workshop.coordinator_id }},{{ workshop.title_id }},{{ workshop.date | safe }}')">
                                            Update
                                        </button>
                                    </div>
                                </td>
                            {% else %}
                                <td>{{ workshop.date | date }}</td>
                            {% endif %}
                            <td><span class="badge badge-success">{{ workshop.status }}</span></td>
                        {% endif %}
                    </tr>
                    </tbody>

                {% endfor %}

            </table>
        </div>


        <!-- Proposed View -->
        <br>
        <div class="container">

            {% if request.user.profile.position == 'instructor' %}
                <h3 align="center" style="color: #04a9cf;"><strong>Workshops Proposed By Coordinators</strong>
                </h3>
            {% else %}
                <h3 align="center" style="color: #04a9cf;"><strong>Workshops Proposed By Me</strong></h3>
            {% endif %}
            <table class="table table-striped">
                <thead>
                <tr>
                    {% if request.user.profile.position == 'instructor' %}
                        <th>Coordinator Name</th>
                        <th>Institute</th>
                    {% else %}

                    {% endif %}
                    <th>Workshop Name</th>
                    <th>Workshop Day</th>
                    <th>Status</th>
                    {% if request.user.profile.position == 'instructor' %}
                        <th>Action</th>
                    {% endif %}
                </tr>
                </thead>
                {% csrf_token %}
                {% for workshop in workshops %}
                    <tbody>
                    <tr>
                        {% if workshop.status == 0 and workshop.tnc_accepted %}
                            {% if request.user.profile.position == 'instructor' %}

                                <td>
                                    <a href="{{ URL_ROOT }}/view_comment_profile/{{ workshop.coordinator.profile.user.id }}">
                                        {{ workshop.coordinator.get_full_name }}</a></td>
                                <td>{{ workshop.coordinator.profile.institute }}</td>
                            {% endif %}
                            <td>{{ workshop.workshop_type }}</td>
                            <td>{{ workshop.date | date }}</td>

                            <td><span class="badge badge-warning">{{ workshop.get_status }}</span></td>
                            {% if request.user.profile.position == 'instructor' and workshop.status == 0 %}
                                <td>
                                    <form method="post">
                                        <input type="hidden" name="action" value="accept">
                                        <input type="hidden" name="workshop_id" value="{{ workshop.id }}">
                                        {% csrf_token %}
                                        <button class="btn btn-primary btn-sm" id="book-btn" data-toggle="popover"
                                                title="Please Note"
                                                data-content="Once Accepted you can't Reject, you have to personally contact the Coordinator if the workshop is to be cancelled">
                                            Accept
                                        </button>
                                    </form>
                                </td>
                            {% endif %}
                        {% endif %}
                    </tr>
                    </tbody>

                {% endfor %}
            </table>
        </div>



    {% else %}
        {% if request.user.profile.position == 'instructor' %}
            <div class="container">
                <div class="jumbotron">
                    <h1>Welcome {{ user.first_name }}</h1>
                    <p>Your workshop related information will be shown here, Please navigate to <b>Workshop list</b> and
                        depending upon
                        your expertise and availability create a workshop by going to
                        <b>Create Workshop</b>.</p>
                </div>
            </div>
        {% else %}
            <div class="container">
                <div class="jumbotron">
                    <h1>Welcome {{ user.first_name }}</h1>
                    <p>Information Related to your workshops will be shown here, you can also
                        propose a Workshop as per your available date in <strong>Workshops > Propose a Workshop
                            tab</strong> .</p>
                </div>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
