{% extends 'workshop_app/base.html' %}

{% block header %}
   <nav class="navbar navbar-default navbar-custom">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand" href="{{ URL_ROOT }}/manage/">Home</a>
		</div>
		<ul class="nav navbar-nav">
		  <li ><a href="{{ URL_ROOT }}/create_workshop/">Create Workshop</a></li>
		   <li ><a href="{{ URL_ROOT }}/view_workshoptype_list/"> Workshop List</a></li>
		   <li ><a href="{{ URL_ROOT }}/my_workshops/">My Workshops</a></li>
		   <li><a href="{{ URL_ROOT }}/scheduled_workshops/">Scheduled Workshops</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
		  <li><a href="{{ URL_ROOT }}/view_profile/"><span class="glyphicon glyphicon-user"></span> Profile </a></li>
		  <li><a href="{{ URL_ROOT }}/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		</ul>
		</div>
  </nav>
{% endblock %}


{% block content %}

	<div class="container">
	{% if scheduled_workshops %}
	<h3>This Table Shows Scheduled Workshops Proposed By Coordinators</h3>
	<br>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Coordinator Name</th>
					<th>Instructor Name</th>
					<th>Workshop Name</th>
					<th>Workshop Date</th>
				</tr>
			</thead>
			{% csrf_token %}
			{% for workshop in accepted_workshops %}
				{% if workshop.status == 'ACCEPTED' %}
						<tbody>
							<tr>
								
								<td>{{ workshop.proposed_workshop_coordinator }}</td>
								<td>{{ workshop.proposed_workshop_instructor }}</td>
								<td>{{ workshop.proposed_workshop_title }}</td>
								<td>{{ workshop.proposed_workshop_date | date}}</td>
							</tr>
						</tbody>
				{% endif %}
			{% endfor %}
		</table>
	{% else %}
		<div class="jumbotron">
				<h2>Permission to View Scheduled Workshops is set to False</h2>
			</div>
	{% endif %}
	</div>
	}


{% endblock %}