{% extends 'workshop_app/base.html' %}

{% block title %}
	Self Workshop
{% endblock %}

{% block extra %}
	<link rel="stylesheet" href="{{ URL_ROOT }}/static/workshop_app/css/faq.css" type="text/css" />
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link href='//fonts.googleapis.com/css?family=Antic Slab' rel='stylesheet'>

{% endblock %}

{% block header %}
 <nav class="navbar navbar-default navbar-custom">
  <div class="container-fluid">
	<div class="navbar-header">
	  <a class="navbar-brand" href="{{ URL_ROOT }}/">FOSSEE Workshops</a>
	</div>
  	</div>
  </nav>
  {% endblock %}

{% block content %}

<div class="container">
	<h1>Welcome to Python Self Learning Course</h1><br>
		<ul class='num'>
			<h2>About this Course:</h2>
			<ul>
			<li class='ans'>
			It is a free online course offered by the <a href="https://fossee.in" target="_blank">FOSSEE</a> team at IIT Bombay.
			</li>

			<li class='ans'>
				Students can gain hands-on experience in Python through a series of practice sessions and quizzes.
			</li>

			<li class='ans'>
				It is open to all, interested in learning Python irrespective of their academic background.
			</li>

			<li class='ans'>
				The course is designed and curated by <a href="https://www.aero.iitb.ac.in/~prabhu/index.html" target="_blank">Prof.Prabhu Ramachandran, Dept. Of Aerospace Engineering, IIT Bombay).</a>
			</li>

			<li class='ans'>
				Graded e-certificates are issued to participants on successful completion of the course.
			</li>

			<li class='ans'>
				Queries/ doubts posted by participants on the <a href="http://forums.fossee.in/filter/Python/">FORUMS</a> are answered by FOSSEE’s Python experts.
			</li>

			<li class='ans'>
				Certificates are issued within 15 working days of course completion.
			</li>

			</ul>
		</ul>

		<ul class='num'>
			<h2>Course Instructions:</h2>
			<ul>
			<li class='ans'>
				Register on <a href="http://yaksh.fossee.in" target="_blank">Yaksh</a> and enroll for the course Basic Programming using Python by searching for the course code :<strong><u>BPPY</u></strong>
			</li>

			<li class='ans'>
				Access the “Enrolled Courses” tab to start the course
			</li>

			<li class='ans'>
				Complete all the lessons, exercises and quizzes in a module and then proceed to the next module. 
			</li>

			<li class='ans'>
				If needed, revisit lessons for better understanding
			</li>

			</ul>
		</ul>

		<ul class='num'>
			<h2>Duration:</h2>
			<ul>
			<li class='ans'>
				The course will be open for one month (Approximately the participant can devote an hour each day or 4 hours per day on weekends to complete the course)
			</li>

			<li class='ans'>
				The course will start on the 1st day of every month and closes on the last day of the month.
			</li>

			

			</ul>
		</ul>

	</div>
<br>
<br>

{% endblock %}