{% extends 'workshop_app/base.html' %}

{% block title %}
    View Profile
{% endblock %}


    {% block extra %}
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
          <script src="{{URL_ROOT}}/static/workshop_app/js/bootstrap-3.3.7.min.js"></script>
    {% endblock %}

{% csrf_token %}
{% block content %}

  <div class="container">
  <table class="table table-bordered">
  <tr>
    <th><label for="id_first_name"><h5>First name:</h5></label></th>
    <th><label for="id_first_name"><h5>{{ user.first_name }}</h5></label></th>
  </tr>
  <tr>
    <th><label for="id_last_name"><h5>Last name:</h5></label></th>
    <th><label for="id_last_name"><h5>{{ user.last_name }}</h5></label></th>
  </tr>
  <tr>
    <th><label for="id_email"><h5>Email:</h5></label></th>
    <th><label for="id_email"><h5>{{ user.email }}</h5></label></th>
  </tr>
  <tr>
    <th><label for="id_institute"><h5>Institute:</h5></label></th>
    <th><label for="id_institute"><h5>{{ user.profile.institute }}</h5></label></th>
  </tr>
  <tr>
    <th><label for="id_phone_number"><h5>Phone Number:</h5></label></th>
    <th><label for="id_phone_number"><h5>{{ user.profile.phone_number }}</h5></label></th>
  </tr>
  <tr>
    <th><label for="id_department"><h5>Department:</h5></label></th>
    <th><label for="id_department"><h5>{{ user.profile.department }}</h5></label></th>
  </tr>
  <tr>
    <th><label for="id_location"><h5>Location:</h5></label></th>
    <th><label for="id_location"><h5>{{ user.profile.location }}</h5></label></th>
  </tr>
  <tr>
    <th><label for="id_position"><h5>Position:</h5></label></th>
    <th><label for="id_position"><h5>{{ user.profile.position }}</h5></label></th>
  </tr>
  </table>
    <br>
    <a class="btn btn-primary pull-right" href="{{ URL_ROOT }}/edit_profile/">Edit Profile</a>
  <div class="container">
  <h2>Requested Workshop Details</h2>
      <table class="table table-bordered">
      <tr>
            <th><label for="id_instructor_name"><h5>Instructor name</h5></label></th>
            <th><label for="id_workshop_date"><h5>Workshop date</h5></label></th>
            <th><label for="id_workshop_type"><h5>Workshop type</h5></label></th>
      </tr>
          {% for foo in Requested_Workshop %}
            <tr>
                <td><label for="id_instructor_name"><h5>{{ foo.requested_workshop_date  }}</h5></label></td>
                <td><label for="id_workshop_date"><h5>{{ foo.requested_workshop_instructor }}</h5></label></td>
                <td><label for="id_workshop_type"><h5>{{ foo.requested_workshop_title }}</h5></label></td>
            </tr>
          {% endfor %}
      </table>
  </div>
  <br>
<div class="container">
  <h2>Proposed Workshop Details</h2>
      <table class="table table-bordered">
      <tr>
            <th><label for="id_instructor_name"><h5>Instructor name</h5></label></th>
            <th><label for="id_workshop_date"><h5>Workshop date</h5></label></th>
            <th><label for="id_workshop_type"><h5>Workshop status</h5></label></th>
      </tr>
          {% for foo in Proposed_workshop %}
            <tr>
                <td><label for="id_instructor_name"><h5>{{ foo.proposed_workshop_instructor  }}</h5></label></td>
                <td><label for="id_workshop_date"><h5>{{ foo.proposed_workshop_date }}</h5></label></td>
                <td><label for="id_workshop_type"><h5>{{ foo.status }}</h5></label></td>
            </tr>
          {% endfor %}
      </table>
  </div>
  <br>
  </div>



{% endblock %}
