{% extends 'workshop_app/base.html' %}

{% block title %}
	View Benefits
{% endblock %}

{% block extra %}

	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='//fonts.googleapis.com/css?family=Antic Slab' rel='stylesheet'>
{% endblock %}

{% block header %}
 <nav class="navbar navbar-default navbar-custom">
  <div class="container-fluid">
  {% if request.user.profile.position == 'coordinator' %}
  	<div class="navbar-header">
		  <a class="navbar-brand"  href="{{ URL_ROOT}}/book/">Home</a>
	</div>
		<ul class="nav navbar-nav">
		  <li><a href="{{ URL_ROOT}}/my_workshops/">My Workshops</a></li>
		  <li><a href="{{ URL_ROOT }}/propose_workshop/">Propose a Workshop</a></li>
		  <li><a href="{{ URL_ROOT }}/faq/">FAQ</a></li>
		  <li class="active"><a href="{{ URL_ROOT }}/benefits/">Benefits</a>
		  <li><a href="{{ URL_ROOT }}/view_workshoptype_details/"> Workshop List</a></li>
		  <li><a href="{{ URL_ROOT }}/how_to_participate/">How to Participate</a></li>
		  </li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
		  <li><a href="{{ URL_ROOT }}/view_profile/"><span class="glyphicon glyphicon-user"></span> Profile </a></li>
		  <li><a href="{{ URL_ROOT }}/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		</ul>
  {% else %}
	<div class="navbar-header">
	  <a class="navbar-brand" href="{{URL_ROOT}}/">FOSSEE Workshops</a>
	</div>
	<ul class="nav navbar-nav navbar-right">
	  <li><a href="{{ URL_ROOT }}/register/"><span class="glyphicon glyphicon-user"></span> Register</a></li>
	  <li><a href="{{ URL_ROOT }}/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	</ul>
  {% endif %}
  	</div>
  </nav>
  {% endblock %}

{% block content %}

	<div class="container">
		<h1 style="font-family: 'Times New Roman';">Features and Benefits:</h1><br>
		<p ><h4 style="font-family: 'Antic Slab';">
			The workshops can be arranged at your convenience.
			Hands-on experience in Python programming with many practice sessions and quizzes.
			Certificates and honorarium will be provided on successful completion.
		</h4></p>
		<br>
		<p><h4 style="font-family: 'Antic Slab';">
			Hone your programming skills in Python.
			Live video/chat assistance from FOSSEE Python experts
			Closely integrated with online programming evaluation tool.
			Designed, developed, and presented by Prof.Prabhu Ramachandran and the FOSSEE team at IIT Bombay 
		</h4></p>
		<br><br>
	</div>

{% endblock %}
