{% extends 'workshop_app/base.html' %}

{% block title %}
    View Profile
{% endblock %}

{% block header %}
    <nav class="navbar navbar-default navbar-custom">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="#">FOSSEE Python Workshops</a>
          </div>
        {% if request.user.profile.position == 'instructor' %}
          <ul class="nav navbar-nav">
            <li><a href="{{ URL_ROOT }}/create_workshop/">Create Workshop</a></li>
            <li><a href="{{ URL_ROOT }}/my_workshops/">Workshop Status</a></li>
            <li><a href="{{ URL_ROOT }}/manage/">Workshops</a></li>
          </ul>
        {% else %}
          <ul class="nav navbar-nav">
            <li><a href="{{ URL_ROOT }}/my_workshops/">Workshop Status</a>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Workshops
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ URL_ROOT }}/book/">Book a Workshop</a></li>
                        <li><a href="{{ URL_ROOT }}/propose_workshop/">Propose a Workshop</a></li>
                    </ul>
                </li>
            <li><a href="{{ URL_ROOT }}/view_workshoptype_list/"> Workshop List</a></li>
          </ul>
        {% endif %}

        <ul class="nav navbar-nav navbar-right">
            {% if request.user.profile.position == 'instructor' %}
            <li><a href="{{ URL_ROOT }}/view_workshoptype_list/">Workshop List</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Statistics
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ URL_ROOT }}/statistics/">Workshop Statistics</a></li>
                    <li><a href="{{ URL_ROOT }}/statistics/profile_stats/">Profile Statistics</a></li>
                </ul>
            </li>
           {% else %}
                    <li><a href="{{ URL_ROOT }}/how_to_participate/">How to Participate</a></li>
                    <li><a href="{{ URL_ROOT }}/faq/"> FAQ's</a></li>
          {% endif %}
          <li class="active"><a href="{{ URL_ROOT }}/view_profile/"><span class="glyphicon glyphicon-user"></span> {{ request.user.first_name }} </a></li>
          <li><a href="{{ URL_ROOT }}/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
    </nav>
    {% endblock %}

    {% block extra %}
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
          <script src="{{URL_ROOT}}/static/workshop_app/js/bootstrap-3.3.7.min.js"></script>
    {% endblock %}

{% csrf_token %}
{% block content %}

  <div class="container">
  <table class="table table-bordered">
  <tr>
    <th><label for="id_first_name"><h5>First name:</h5></label></th>
    <th><label for="id_first_name"><h5>{{ user.first_name }}</h5></label></th>
  </tr>
  <tr>
    <th><label for="id_last_name"><h5>Last name:</h5></label></th>
    <th><label for="id_last_name"><h5>{{ user.last_name }}</h5></label></th>
  </tr>
  <tr>
    <th><label for="id_email"><h5>Email:</h5></label></th>
    <th><label for="id_email"><h5>{{ user.email }}</h5></label></th>
  </tr>
  <tr>
    <th><label for="id_institute"><h5>Institute:</h5></label></th>
    <th><label for="id_institute"><h5>{{ user.profile.institute }}</h5></label></th>
  </tr>
  <tr>
    <th><label for="id_phone_number"><h5>Phone Number:</h5></label></th>
    <th><label for="id_phone_number"><h5>{{ user.profile.phone_number }}</h5></label></th>
  </tr>
  <tr>
    <th><label for="id_department"><h5>Department:</h5></label></th>
    <th><label for="id_department"><h5>{{ user.profile.department }}</h5></label></th>
  </tr>
  <tr>
    <th><label for="id_location"><h5>Location:</h5></label></th>
    <th><label for="id_location"><h5>{{ user.profile.location }}</h5></label></th>
  </tr>
  <tr>
    <th><label for="id_position"><h5>Position:</h5></label></th>
    <th><label for="id_position"><h5>{{ user.profile.position }}</h5></label></th>
  </tr>
  </table>
    <br>
    <a class="btn btn-primary pull-right" href="{{ URL_ROOT }}/edit_profile/">Edit Profile</a>
  </div>
{% endblock %}
