{% extends "workshop_app/base.html" %}

{% block title %}
    Workshop Status
{% endblock %}

{% block extra-dependencies %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}
{% block extra-custom-scripts %}
    <script>
        //ToolTip popup function on-hover
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({
                placement: 'top',
                trigger: 'hover'
            });
        });

        //ToolTip popup function on-hover
        $(document).ready(function () {
            $('[data-toggle="popinfo"]').popover({
                placement: 'top',
                trigger: 'hover'
            });
        });

        // Change date modal
        function changeDate(date) {
            let previous_date = new Date(date);
            let dateToday = new Date();
            let upto = new Date();

            previous_date.setDate(previous_date.getDate() + 1);
            upto.setFullYear(dateToday.getFullYear() + 1);

            let counter = date.split(" ");
            const id = counter.slice(-1).pop();
            if (date[0] === 'P') {
                counter = '.pDate' + id
                $(counter).datepicker({
                    changeMonth: true,
                    changeYear: true,
                    minDate: dateToday,
                    maxDate: upto,
                    dateFormat: "yy-mm-dd",
                });
                $(".ui-dialog-content").dialog("close");
                $('.myDialogP' + id).dialog();

            } else {
                counter = '.rDate' + id;
                $(counter).datepicker({
                    changeMonth: true,
                    changeYear: true,
                    minDate: dateToday,
                    maxDate: upto,
                    dateFormat: "yy-mm-dd",
                });
                $(".ui-dialog-content").dialog("close");
                $('.myDialogR' + id).dialog();

            }
        };

    </script>
{% endblock %}


{% block content %}
    {% if workshops %}
        <h3 class="text-center" style="color:#2952a2;">The status of your workshops </h3>
        <br>

        <!-- Accepted View -->
        <br>
        <div class="container">
            <h3 align="center" style="color: #04a9cf;"><strong>Workshops Accepted</strong></h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Coordinator Name</th>
                    <th>Institute</th>
                    <th>Workshop Name</th>
                    <th>Workshop Day</th>
                    <th>Status</th>
                </tr>
                </thead>
                {% for workshop in workshops %}
                    <tbody>
                    <tr>
                        {% if workshop.status %}
                            <td>
                                <a href="{% url 'view_profile' workshop.coordinator.profile.user.id %}">
                                    {{ workshop.coordinator.get_full_name }}</a>
                            </td>
                            <td>{{ workshop.coordinator.profile.institute }}</td>
                            <td>{{ workshop.workshop_type |capfirst }}</td>
                            <td>{{ workshop.date | date }}

                                {% if workshop.date > today %}
                                    <span class="material-icons datepicker" style="cursor:pointer;"
                                          data-toggle="popinfo"
                                          title="Note"
                                          data-content="Click here to change date"
                                          onclick="changeDate('R,{{ workshop.date| safe }}, {{ forloop.counter }}')">event</span>
                                    <div class="myDialogR{{ forloop.counter }}" style="display: none;"
                                         title="Select New Date">
                                        <form method="post">
                                            <input type="text" placeholder="New date" name="new_date"
                                                   class="rDate{{ forloop.counter }}"/><br>
                                            <input type="hidden" name="action" value="change_date">
                                            <input type="hidden" name="workshop_id" value="{{ workshop.id }}">
                                            <input type="hidden" name="cid" value="{{ workshop.coordinator.id }}">
                                            {% csrf_token %}
                                            <button class="btn btn-primary btn-xs" type="submit">Save</button>
                                        </form>
                                    </div>
                                {% endif %}
                            </td>
                            <td><span class="badge badge-success">{{ workshop.get_status }}</span></td>
                        {% endif %}
                    </tr>
                    </tbody>

                {% endfor %}

            </table>
        </div>


        <!-- Proposed View -->
        <br>
        <div class="container">
            <h3 class="text-center" style="color: #04a9cf;"><strong>Workshops Proposed By Coordinators</strong>
            </h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Coordinator Name</th>
                    <th>Institute</th>
                    <th>Workshop Name</th>
                    <th>Workshop Day</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                {% csrf_token %}
                {% for workshop in workshops %}
                    <tbody>
                    <tr>
                        {% if not workshop.status and workshop.tnc_accepted %}
                            <td>
                                <a href="{% url 'view_profile' workshop.coordinator.profile.user.id %}">
                                    {{ workshop.coordinator.get_full_name }}</a>
                            </td>
                            <td>{{ workshop.coordinator.profile.institute }}</td>
                            <td>{{ workshop.workshop_type }}</td>
                            <td>{{ workshop.date | date }}</td>
                            <td><span class="badge badge-warning">{{ workshop.get_status }}</span></td>
                            <td>
                                <form method="post">
                                    <input type="hidden" name="action" value="accept">
                                    <input type="hidden" name="workshop_id" value="{{ workshop.id }}">
                                    {% csrf_token %}
                                    <button class="btn btn-primary btn-sm" id="book-btn" data-toggle="popover"
                                            title="Please Note"
                                            data-content="Once Accepted you can't Reject, you have to personally contact the Coordinator if the workshop is to be cancelled">
                                        Accept
                                    </button>
                                </form>
                            </td>
                        {% endif %}
                    </tr>
                    </tbody>

                {% endfor %}
            </table>
        </div>

        <!-- No workshops for the user -->
    {% else %}
        <div class="container">
            <div class="jumbotron">
                <h1>Welcome {{ user.first_name }}</h1>
                <p>Your workshop related information will be shown here, Please navigate to <b>Workshop list</b> and
                    depending upon
                    your expertise and availability create a workshop by going to
                    <b>Create Workshop</b>.</p>
            </div>
        </div>
    {% endif %}

{% endblock %}
