{% extends 'workshop_app/base.html' %}

{% block title %}
    View Workshop details
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center m-3">Workshop Details</h2>
        <table class="table table-hover">
            <tr class="d-flex">
                <th class="col-3">Workshop Name :</th>
                <td class="col">{{ workshop_type.name }}</td>
            </tr>
            <tr class="d-flex">
                <th class="col-3">Duration :</th>
                <td class="col">{{ workshop_type.duration }} day(s)</td>
            </tr>
            <tr class="d-flex">
                <th class="col-3">Description :</th>
                <td class="col">{{ workshop_type.description }}</td>
            </tr>
            <tr class="d-flex">
                <th class="col-3">Terms and Conditions :</th>
                <td class="col">{{ workshop_type.terms_and_conditions }}</td>
            </tr>
        </table>
    </div>

{% endblock %}


