{% extends "workshop_app/base.html" %}

{% block title %}
    My Workshops
{% endblock %}

{% block extra-custom-scripts %}
<style >
    .table-heading{
        color: #04a9cf;
    }
    </style>
{% endblock %}

{% block content %}
    {% if not workshops %}
        <div class="container">
            <div class="jumbotron">
                <h1>Welcome {{ user.first_name }}</h1>
                <p>Information Related to your workshops will be shown here, you can also
                    propose a Workshop as per your available date in <strong>Propose Workshop tab</strong> .</p>
            </div>
        </div>
    {% else %}
        <h3 class="text-center">The status of your workshops </h3>
        <br>

        <!-- Accepted View -->

        <br>
        <div class="container">
            <h3 class="text-center table-heading"><strong>Workshops Accepted</strong></h3>
            <table class="table table-striped table-responsive-sm">
                <thead>
                <tr>
                    <th>Workshop Name</th>
                    <th>Instructor Name</th>
                    <th>Workshop Day</th>
                    <th>Status</th>
                </tr>
                </thead>

                {% for workshop in workshops %}
                    <tbody>
                    <tr>
                        {% if workshop.status %}
                            <td><a href="{% url 'workshop_app:workshop_details' workshop.id %}" >{{ workshop.workshop_type |capfirst }}</a></td>
                            <td>{{ workshop.instructor.get_full_name }}</td>
                            <td>{{ workshop.date | date }}</td>
                            <td><span class="badge badge-success">{{ workshop.get_status }}</span></td>
                        {% endif %}
                    </tr>
                    </tbody>
                {% endfor %}

            </table>
        </div>

        <!-- Proposed View -->

        <br>
        <div class="container">
            <h3 class="text-center table-heading"><strong>Workshops Proposed By Me</strong></h3>
            <table class="table table-striped table-responsive-sm">
                <thead>
                <tr>
                    <th>Workshop Name</th>
                    <th>Workshop Day</th>
                    <th>Status</th>
                </tr>
                </thead>
                {% for workshop in workshops %}
                    <tbody>
                    <tr>
                        {% if not workshop.status and workshop.tnc_accepted %}
                            <td><a href="{% url 'workshop_app:workshop_details' workshop.id %}" >{{ workshop.workshop_type |capfirst }}</a></td>
                            <td>{{ workshop.date | date }}</td>
                            <td><span class="badge badge-warning">{{ workshop.get_status }}</span></td>
                        {% endif %}
                    </tr>
                    </tbody>

                {% endfor %}
            </table>
        </div>
    {% endif %}

{% endblock %}
