{% extends "workshop_app/base.html" %}

{% block title %}
    Workshop Status
{% endblock %}

{% block extra-dependencies %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}
{% block extra-custom-scripts %}
    {% load static %}
    <script src="{% static 'workshop_app/js/datepicker.js' %}"></script>
{% endblock %}


{% block content %}
    {% if not workshops %}
        <div class="container">
            <div class="jumbotron">
                <h1>Welcome {{ user.first_name }}</h1>
                <p>Your workshop related information will be shown here, Please navigate to <b>Workshop list</b> and
                    depending upon
                    your expertise and availability create a workshop by going to
                    <b>Create Workshop</b>.</p>
            </div>
        </div>
    {% else %}
        <h3 class="text-center" style="color:#2952a2;">The status of your workshops </h3>
        <br>

        <!-- Accepted View -->
        <br>
        <div class="container">
            <h3 align="center" style="color: #04a9cf;"><strong>Workshops Accepted</strong></h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Workshop Name</th>
                    <th>Coordinator Name</th>
                    <th>Institute</th>
                    <th>Workshop Day</th>
                    <th>Status</th>
                </tr>
                </thead>
                {% for workshop in workshops %}
                    <tbody>
                    <tr>
                        {% if workshop.status %}
                            <td><a href="{% url 'workshop_details' workshop.id %}" >{{ workshop.workshop_type |capfirst }}</a></td>
                            <td>
                                <a href="{% url 'view_profile' workshop.coordinator.profile.user.id %}">
                                    {{ workshop.coordinator.get_full_name }}</a>
                            </td>
                            <td>{{ workshop.coordinator.profile.institute }}</td>
                            <td>{{ workshop.date | date }}

                                {% if workshop.date > today %}
                                    <span class="material-icons datepicker" style="cursor:pointer;"
                                          data-toggle="popinfo"
                                          title="Note"
                                          data-content="Click here to change date"
                                          onclick="changeDate('R,{{ workshop.date| safe }}, {{ forloop.counter }}')">event</span>
                                    <div class="myDialogR{{ forloop.counter }}" style="display: none;"
                                         title="Select New Date">
                                        <form method="post" action="{% url 'change_workshop_date' workshop.id %}">
                                            <input type="text" placeholder="New date" name="new_date"
                                                   class="rDate{{ forloop.counter }}"/><br>
                                            {% csrf_token %}
                                            <button class="btn btn-primary btn-xs" type="submit">Save</button>
                                        </form>
                                    </div>
                                {% endif %}
                            </td>
                            <td><span class="badge badge-success">{{ workshop.get_status }}</span></td>
                        {% endif %}
                    </tr>
                    </tbody>

                {% endfor %}

            </table>
        </div>


        <!-- Proposed View -->
        <br>
        <div class="container">
            <h3 class="text-center" style="color: #04a9cf;"><strong>Workshops Proposed By Coordinators</strong>
            </h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Workshop Name</th>
                    <th>Coordinator Name</th>
                    <th>Institute</th>
                    <th>Workshop Day</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                {% csrf_token %}
                {% for workshop in workshops %}
                    <tbody>
                    <tr>
                        {% if not workshop.status and workshop.tnc_accepted %}
                            <td><a href="{% url 'workshop_details' workshop.id %}" >{{ workshop.workshop_type |capfirst }}</a></td>
                            <td>
                                <a href="{% url 'view_profile' workshop.coordinator.profile.user.id %}">
                                    {{ workshop.coordinator.get_full_name }}</a>
                            </td>
                            <td>{{ workshop.coordinator.profile.institute }}</td>
                            <td>{{ workshop.date | date }}</td>
                            <td><span class="badge badge-warning">{{ workshop.get_status }}</span></td>
                            <td>
                                <a href="{% url 'accept_workshop' workshop.id %}">
                                    <button class="btn btn-primary btn-sm" id="book-btn" data-toggle="popover"
                                            title="Please Note"
                                            data-content="Once Accepted you can't Reject, you have to personally contact the Coordinator if the workshop is to be cancelled">
                                        Accept
                                    </button>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                    </tbody>

                {% endfor %}
            </table>
        </div>
    {% endif %}

{% endblock %}
