
{% extends 'workshop_app/base.html' %}

{% block title %}
	View Workshop details
{% endblock %}


{% block extra %}

	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="{{URL_ROOT}}/static/workshop_app/js/bootstrap-3.3.7.min.js"></script>
{% endblock %}

{% block content %}
	<div class="container">
	{{ workshop_type.description | safe }}
	</div>

{% endblock %}


