/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;

    },

}

ul.topnav {
    list-style-type: none;
    margin: 2px;
    padding: 0;
    overflow: hidden;

}

ul.topnav li {float: right;}

ul.topnav li a {
    display: block;
    color: white;
    font-family: "Helvatica", arial, sans-serif;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: white;
  color: black;
  padding: 10px 16px;
}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

/**/
.coverbox {
    width: 90%;
  margin: auto;
}

.row {
  width: 100%;
  margin: auto;
  align-content: center;

}

@font-face {
   font-family: aaragh;
   src: url("../font/Aaargh.ttf");

}

#r1 {
    background: linear-gradient(135deg , #2c5aa0,#2c5aa0 30%, #3bb1d1 );
    height: 60px;
    margin: 1px;
    font-family: Sans-serif, "Arial";
}

#r1_c1
{
  font-size: 18px;
  padding-top: 14px;
  text-align: middle;
  color:white;
}



.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 10px;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  float: left;
  border: 0;
  width: 100%;
  }

#r2 {
    padding-top: 10px;
}

#r2_c1 {
  margin: auto;
  width: 100%;
}

#r2_c2 {
  padding-top: 15px;
  width: 100%;
}

#r3 {
  text-align: center;
  color: white;
  background: linear-gradient(135deg , #2c5aa0,#2c5aa0 30%, #3bb1d1 );
  padding-bottom: 25px;
  margin-top: 15px;
}


#r5 {
  width: 100%;
}

#r5_c1 {
  text-align: center;
  font-size: 2vw;
  font-family: aaragh;
  margin-top: 10px;

}

#r5_c2 {
  font-family: aaragh;

}

#r5_c3 {
  padding-top: 15px;
}

#r6 {
  padding: 35px;
  margin-top: 15px;
  width: 100%;
  background: linear-gradient(135deg , #2c5aa0,#2c5aa0 30%, #3bb1d1 );
  align-items: center;

}

#r6_c2 {
  text-align: center;
  font-family: aaragh;
  color: white;
}

.tslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  }

.tslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  text-align: center;
  }

.tslides li:first-child {
  position: relative;
  display: block;
  text-align: center;
  }


#email {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

#name {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

#msg {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

#r8 {
  background: #c8c5b6;
  margin-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
}



#r8_c2 {
  font-size: 16px;
  text-align: center;

}

#social {
  float: right;

}
#r8_c4 {
  text-align: center;
  font-size: 12px;
  width: 100%;
}

hr {
  background-color: black;
}

/* Style all font awesome icons */
.fa {
    padding: 6px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;

}
/* Google */
.fa-google {
  background: #dd4b39;
  color: white;
}
/* Youtube */
.fa-youtube {
  background: #bb0000;
  color: white;
}

#social a{
    color: white;
}
