
body {
  background-color: grey;
}

.fossee-label {
  padding-top: 20%;
  margin-left: 60%;
  color: #6D5847;
  font-size: 450%;
}


.logo {
    width: 200%;
    height: 100%;
    float: left;
    margin-top: 9%;
    margin-left: 75%;
}

.label-bar {
  color: #6D5847;
  float: right;
  margin-top: 9%;
  font-size: 120%;
  margin-right: 10%;
}


.login {
    margin-left: 20%;
    width: 40%;
    height: 90%;
    background: white;
}

#rectbox {
    border-radius: 9%;
    background: #6D5847;
    padding: 3%; 
    margin-left: 10%;
    margin-top: 3%;
    width: 75%;
    height: 60%;    
}



/* Icons with their respective Images */
.icons {
    background: white;
    height: 70%;
    margin-top: 3%;
}

figure.item {
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
}





/* Contact Us, Related Links and Organization Logo */

.contact {
	width: 100%;
  margin: auto;
}


.org-logo {
	margin-top: 5%;
  margin-left: 6%;
  float: left;
  color: #5A3700;
  
}

.related-links {
  font-size: 180%;
	color: #5A3700;
  margin-top: 3%;
  margin-left: 9%
}

.contact-us {
	font-size: 180%;
  color: #5A3700;
  margin-top: 1%;
  margin-right: 3%;
  float: right;

}

/* Footer */
.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  
  background-color: black;
  text-align: center;
  color:white;
}
