{% extends "workshop_app/base.html" %}

<!DOCTYPE html>
{% block pagetitle %}
Change Password
{% endblock %}
{% block title %} Change Password {% endblock %}

{% block content %}
<form action="" method="post" >
    {% csrf_token %}
    <center>
        <div class="container col-md-6">
            <table class="table table-responsive-sm">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-dismissible alert-danger">
                                <button type="button" class="close" data-dismiss="alert">
                                    <i class="fa fa-close"></i>
                                </button>
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert">
                                <i class="fa fa-close"></i>
                            </button>
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                {% for field in form %}
                    <tr>
                        <td>{{ field.label }}</td>
                        <td>{{ field }} <small>{{ field.help_text }}</small></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </center>
    <br>
    <center>
        <button class="btn btn-success btn-lg" type="submit">
            Change
        </button>
        <a href="{% url 'workshop_app:index' %}" class="btn btn-primary btn-lg">
            Cancel
        </a>
    </center>
</form>
<script type="text/javascript">
    $(document).ready(function()
    {   
        $("#id_old_password").addClass("form-control");
        $("#id_new_password1").addClass("form-control");
        $("#id_new_password2").addClass("form-control");
    });
</script>
{% endblock content %}
