/* Navbar */
.navbar-custom {
	background:  linear-gradient(135deg , #2c5aa0,#2c5aa0 30%, #3bb1d1 );
    color:black;
  	border-radius:0;
}

/* Text color */
.navbar-custom .navbar-nav > li > a {
  	color:#fff;
}

/* OnActive Tab */
.navbar-custom .navbar-nav > .active > a {
    color: black;
    background: white;	
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #3bb1d1;
}

/* Brand-CompanyName */
.navbar-custom .navbar-brand {
	color:#efefef;
  background-color: #2c5aa0;
}

.navbar-custom .navbar-brand:hover{
  color: white;
}

/**
 * Footer Styles
 */

.footer {

  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
}
